-r requirements.in

# Testing
pytest
pytest-cov
coverage
pytest-django
pytest-mock
factory_boy
pytest-factoryboy
model_bakery

# Linting & Formatting
ruff
mypy
types-requests
types-redis
types-python-dateutil

# Dependency Management
pip-tools
pymdown-extensions