# /etc/systemd/system/celery.service

[Unit]
Description=Celery Worker for Omni Desk
After=redis-server.service

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/omni_desk/omni_desk_backend
ExecStart=/var/www/omni_desk/venv/bin/celery -A omni_desk_backend worker -l info

[Install]
WantedBy=multi-user.target